* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --navy: rgb(2,0,36);
    --khaki: rgb(187, 182, 158);
  }
body {
    background-color: var(--khaki);
}
/* hero */
.hero {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 200px;
    background: var(--navy);
    background: linear-gradient(90deg, rgba(2,0,36,1) 20%, rgba(37,32,138,1) 61%, rgba(0,212,255,1) 100%);
}
.hero-geometric {
    width: 100%;
    height: 15px;
    background-color: var(--khaki);
    margin: 75px 0 0 0;
}

.selfie {
    width: 150px;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 79%, 91% 74%, 87% 71%, 83% 69%, 79% 66%, 77% 60%, 74% 57%, 69% 54%, 70% 51%, 72% 51%, 75% 48%, 76.6% 44%, 77% 40%, 77% 38%, 76% 36%, 75% 35%,74% 34%, 71% 26%, 65% 20%, 64% 19%, 64% 19%, 62% 18%, 58% 17%, 55% 16%, 50% 15.8%, 46% 16.8%, 41% 18%, 37% 21%, 34% 24%, 31% 27%, 31% 32%, 30% 35%, 29% 35%, 26% 37%, 24% 40%, 24% 42%, 24% 46%, 25% 49%, 27% 52%, 31% 53%, 33% 55%, 28% 56%, 26% 60%, 23% 64%, 19% 65%, 15% 67%, 11% 68%, 7% 68%, 4% 69%, 1% 72%, 0% 73%);
    margin: 0 0 0 20px;
    position: absolute;
    /* margin-left: 10%; */
    clip-path: polygon(0% 100%, 100% 100%, 100% 79%, 91% 74%, 87% 71%, 83% 69%, 79% 66%, 77% 60%, 74% 57%, 69% 54%, 70% 51%, 72% 51%, 75% 48%, 76.6% 44%, 77% 40%, 77% 38%, 76% 36%, 75% 35%,74% 34%, 71% 26%, 65% 20%, 64% 19%, 64% 19%, 62% 18%, 58% 17%, 55% 16%, 50% 15.8%, 46% 16.8%, 41% 18%, 37% 21%, 34% 24%, 31% 27%, 31% 32%, 30% 35%, 29% 35%, 26% 37%, 24% 40%, 24% 42%, 24% 46%, 25% 49%, 27% 52%, 31% 53%, 33% 55%, 28% 56%, 26% 60%, 23% 64%, 19% 65%, 15% 67%, 11% 68%, 7% 68%, 4% 69%, 1% 72%, 0% 73%);
}
/* end of hero */
header {
    display: flex;
    justify-content: space-between;
    background: var(--navy);
    background: linear-gradient(90deg, rgba(2,0,36,1) 20%, rgba(37,32,138,1) 61%, rgba(0,212,255,1) 100%);
    border-bottom: none;
    flex-wrap: wrap;
}
header ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
header ul li {
    padding: 15px 20px;
    margin: 5px 5px 0 0 ;
}
header ul li a {
    color: rgb(14, 99, 133);
    padding: 15px auto;
    color: var(--khaki);
    border-bottom: none;
    text-decoration: none;
}
header h1 {
    color: var(--khaki);
    margin: 10px 0 0 20px ;
}

/* ----------------------content section ----------------------*/

/* about me section */
.content-info {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    padding: 50px 0;
    width: 100%;
}
.content-info h2, .work h2{
    flex: 20%;
    text-align: right;
    padding-right: 50px;
    border-right: 3px solid var(--navy);
    color: var(--navy);
}
.content-info p{
    flex:80%;
    flex-wrap: wrap;
    padding-left: 25px;
    color: var(--navy);
}
/* about me section */

/* work section */
.work {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    padding: 50px 0;
    width: 100%;
}
.work h2 {
    flex: 20%;
}
.work-pictures {
    display: flex;
    flex:80%;
    flex-wrap: wrap;
    padding-left: 25px;
    justify-content: space-between;
    width: 100%;
}
.work-pictures img {
    width: 100%;
    height: 100%;
}
.best-work {
    width: 100%;
    height: 350px;
    padding: 10px;
}
 .additional-work {
    width: 49%;
    height: 350px;
    padding: 10px;
}
.work-pictures h3 {
    /* pushes element to bottom of flex item */
    margin-top: 308px;
    width: 175px;
    background-color: var(--navy);
    color: var(--khaki);
    text-align: left;
    position: absolute;
    padding-left: 10px;
  }
  


 /* Contact me section */
.contact {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    padding: 50px 0;
    background-color: var(--navy);
}
.contact h2 {
    flex: 20%;
    text-align: right;
    padding-right: 50px;
    border-right: 3px solid var(--khaki);
    color: var(--khaki);
}
.contact nav {
    flex:80%;
    flex-wrap: wrap;
    padding-left: 25px;
    
}
.contact ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}
.contact ul li {
    padding: 15px 20px; 
}
.contact ul li a {
    color: var(--khaki);
    text-decoration: none;
}

/* End of contact me section */

/* ------------------------ media query -----------------------------*/

/* below 768px */
@media screen and (max-width: 768px){
    .hero {
        justify-content: center;
    }
    .content-info h2, .work h2, .contact h2 {
        text-align: center;
        padding: 0;
        padding-bottom: 10px;
        border-right: none;
        border-bottom: 3px solid;
        width: 75%;
        flex: none;
        margin: 0 auto;

    }
    .work-pictures {
        padding: 0;
    }
    .content-info p {
        margin-top: 15px;
        padding: 0 15px;
    }
}
/* below 575px */
@media screen and (max-width: 575px){
    * {
        box-sizing: unset;
    }
    .hero {
        justify-content: center;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
        font-size: 38px
    }
    header nav {
        width: 100%;
    }
    header ul li a {
        font-size: 21px;
    }
    header nav ul li {
        flex: 45%;
        text-align: center;
    }
    .selfie {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .content-info h2, .work h2, .contact h2 {
        text-align: center;
        padding: 0;
        padding-bottom: 10px;
        border-right: none;
        border-bottom: 3px solid;
        width: 75%;
        flex: none;
        margin: 0 auto;

    }
    .content-info p {
        margin-top: 15px;
        padding: 0 15px;
    }
    .best-work, .additional-work {
        width: auto;
        padding: 7.5px 15px;
    }
    .work-pictures {
        padding: 0;
    }
}
